<template>
    <div>
         <b-form @submit="addField">
                <h5>Add a new field</h5>
                <b-form-group label="Field label">
                    <b-form-input
                    v-model="field.label"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Field name">
                    <b-form-input
                    v-model="field.name"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Field type">
                    <b-form-select class="form-control" v-model="field.type" required >
                        <b-form-select-option value="currency">Currency</b-form-select-option>
                        <b-form-select-option value="text">Text</b-form-select-option>
                        <b-form-select-option value="email">Email</b-form-select-option>
                        <b-form-select-option value="password">Password</b-form-select-option>
                        <b-form-select-option value="date">Date</b-form-select-option>
                        <b-form-select-option value="select">Select</b-form-select-option>
                        <b-form-select-option value="radio">Radio</b-form-select-option>
                    </b-form-select>
                </b-form-group>
                <b-form-group v-if="field.type == 'select' || field.type =='radio'" label="Field options (comma seperated values)">
                    <b-input class="form-control" v-model="field.option_labels" placeholder="Option lables"></b-input><br>
                    <b-input class="form-control" v-model="field.option_values" placeholder="Option values"></b-input>
                </b-form-group>
                <b-form-group label="Required ?">
                    <b-form-radio-group class="form-control" v-model="field.required">
                        <b-form-radio value="true">Yes</b-form-radio>
                        <b-form-radio value="false">No</b-form-radio>
                    </b-form-radio-group>
                </b-form-group>
                <b-button class="right" type="submit" variant="primary">Submit</b-button>
        </b-form><br><br><hr>
        <h3>{{ group.label }} <span v-if="group.city && group.city.name">for {{ group.city.name }}</span></h3><br>
        <b-table striped hover 
            selectable
            :items="fields" 
            :fields="headers"
            :select-mode="'single'"
        ></b-table>
    </div>
</template>

<script>
import { crudService } from '@/services/CrudService'

export default {
  name: 'admin.group',
  props: ['name'],
  data : function(){
    return {
        group : {},
        // addgroup : false,
        addfield : false,
        field : { name : '', label : '', type: '', options: [], option_labels :null, option_values : null, required : null},
        groups : [],
        headers : ['label', 'type'],
        fields : []
    }
  },
  methods : {
      loadGroup : async function(){
          let result = await crudService.getDetails('/group/detail/'+this.name);  
          this.group = result.group;
          this.fields = result.fields;
      },
      addField : async function(){
        this.field['city'] = this.group.city._id;
        this.field['group'] = this.group._id;
        if( this.field.option_labels && this.field.option_labels ){
            this.field.option_labels = this.field.option_labels.split(',');
            this.field.option_values = this.field.option_values.split(',');
            this.field['options'] = []
            for(let i=0;i<this.field.option_labels.length;i++){
                this.field.options[i] = {
                    'label' : this.field.option_labels[i],
                    'value' : this.field.option_values[i],
                }
            }
            delete this.field.option_labels;
            delete this.field.option_values;
        }
        console.log(this.field)
        await crudService.add('/field/add', this.field);
      }
    //   ,
    //   viewGroup : function(record){
    //       this.$router.replace({name:'admin-group', params: { name : record[0].name } } )
    //   }
  },
  created : function(){
      this.loadGroup();
  }
}
</script>