<template>
    <div>
         <b-form @submit="addGroup">
                <h5>Add a new group</h5>
                <b-form-group label="Group label">
                    <b-form-input
                    v-model="group.label"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Group name">
                    <b-form-input
                    v-model="group.name"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-button class="right" type="submit" variant="primary">Submit</b-button>
        </b-form><br><br><hr>
        <h3>{{ screen.label }} <span v-if="screen.city && screen.city.name">for {{ screen.city.name }}</span></h3><hr><br>
        <b-table striped hover 
            selectable
            :items="groups" 
            :fields="headers"
            :select-mode="'single'"
            @row-selected="viewGroup"
        ></b-table>
    </div>
</template>

<script>
import { crudService } from '@/services/CrudService'

export default {
  name: 'admin.screen',
  props: ['name'],
  data : function(){
    return {
        screen : {},
        showscreen : true,
        addgroup : false,
        addfield : false,
        group : { name : '', label : ''},
        groups : [],
        headers : ['label']
    }
  },
  methods : {
      loadScreen : async function(){
          let result = await crudService.getDetails('/screen/detail/'+this.name);  
          this.screen = result.screen;
          this.groups = result.groups;
      },
      addGroup : async function(){
        this.group['city'] = this.screen.city._id;
        this.group['screen'] = this.screen._id;
        await crudService.add('/group/add',this.group);
      },
      viewGroup : function(record){
          this.$router.replace({name:'admin-group', params: { name : record[0].name } } )
      }
  },
  created : function(){
      this.loadScreen();
  }
}
</script>