<template>
    <div>
        <b-button-group>
            <b-button @click="showSubview('screens')">Show screens list</b-button>
            <b-button @click="showSubview('addcity')">Add city</b-button>
            <b-button @click="showSubview('addscreen')">Add screen</b-button>       
            <b-button @click="showSubview('themes')">Change theme</b-button>       
        </b-button-group>
        
        <br><br><hr>
        <div v-if="showscreens">
            <h4 class="title">List of screens</h4>
            <br>
            <b-table striped hover 
                selectable
                :items="screens" 
                :fields="headers"
                :select-mode="'single'"
                @row-selected="viewScreen"
            ></b-table>
            <hr>
        </div>
        <div v-if="addscreen">
            <b-form @submit="addScreen">
                <h5 class="title">Add a new screen</h5>
                <b-form-group label="Screen label">
                    <b-form-input
                    v-model="screen.label"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Screen name">
                    <b-form-input
                    v-model="screen.name"
                    required
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Screen sub title">
                    <b-form-input
                    v-model="screen.sub_title"
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="Screen description">
                    <b-form-input
                    v-model="screen.description"
                    ></b-form-input>
                </b-form-group>
                <b-form-group label="City">
                    <b-form-select class="form-control" v-model="screen.city" required >
                    <b-form-select-option 
                        v-for="option in cities" 
                        v-bind:key="option.value"
                        :value="option._id">{{ option.name }}</b-form-select-option>
                    </b-form-select>
                </b-form-group>
                <b-button class="right" type="submit" variant="primary">Submit</b-button>
            </b-form>
            <br/><br/><hr>
        </div>
        <b-form v-if="addcity" @submit="addCity">
            <h5 class="title">Add a new city</h5>
            <b-form-group label="City name">
                <b-form-input
                  v-model="city.name"
                  required
                ></b-form-input>
            </b-form-group>
            <b-button class="right" type="submit" variant="primary">Submit</b-button>
        </b-form>
        <b-form v-if="changetheme" @submit="changeCurrentTheme">
            <h5 class="title">Change the current theme</h5>
            <b-form-group label="Change the current theme">
                    <b-form-select class="form-control" v-model="user.theme" required >
                        <b-form-select-option value="cyan">Theme 1(Dark Cyan)</b-form-select-option>
                        <b-form-select-option value="brown">Theme 1(Dark Brown)</b-form-select-option>
                        <b-form-select-option value="purple">Theme 1(Dark Purple)</b-form-select-option>
                    </b-form-select>
            </b-form-group>
            <b-button class="right" type="submit" variant="primary">Submit</b-button>
        </b-form>
    </div>
</template>

<script>
import { crudService } from '@/services/CrudService'

export default {
  name: 'admin',
  components:{

  },
  data : function(){
    return {
        addcity : false,
        addscreen : false,
        changetheme : false,
        showscreens : true,
        headers : ['label','city'],
        screens : [],
        screen : {
            label: '', city : '', sub_title : '', description : ''
        },
        city : {
          name : ''
        },
        cities : [],
        user : {}
    }
  },
  methods : {
      addScreen: function(){
          crudService.add( '/screen/add', this.screen )
          .then(function(response){
            console.log(response)
             //do nothing for now, lets come back here later
          })
      },
      addCity : function(){
          if(!this.city.name){
             alert("Please enter a city before you proceed.")
          }
          crudService.add('/city/add',this.city.name )
          .then(function(response){
            console.log(response)
             //do nothing for now, lets come back here later
          })
      },
      getAllCities : function (){
          crudService.getAll('/cities')
          .then((response) => {
              this.cities = response;
          })
      },
      getAllScreens : function (){
          crudService.getAll('/screens')
          .then((response) => {
              let screens = response;
              for(var s=0;s<screens.length;s++){
                  screens[s]['city'] = screens[s].city.name;
              }
              this.screens = screens;
          })
      },
      viewScreen : function (record){
          this.$router.replace({name:'admin-screen', params: { name : record[0].name } } )
      },
      getTheme : async function(){
          this.user = await crudService.getById('/user/5eb2fcfd4f4c081b5fe3bac0');
      },
      changeCurrentTheme : async function(){
          this.user = await crudService.update('/user/5eb2fcfd4f4c081b5fe3bac0', this.user);
      },
      showSubview : function (view){
          switch(view){
                case 'screens':
                    this.showscreens=true;this.addcity=false;this.addscreen=false;this.changetheme=false;
                    this.getAllScreens();
                    this.getAllCities();
                break;
                case 'addcity':
                    this.addcity=true;this.addscreen=false;this.showscreens=false;this.changetheme=false;
                break;
                case 'addscreen':
                    this.addscreen=true;this.addcity=false;this.showscreens=false;this.changetheme=false;
                break;
                case 'themes':
                    this.changetheme=true;this.addscreen=false;this.addcity=false;this.showscreens=false;
                    this.getTheme();
                break;
          }
      }
  },
  created : function(){
    this.getAllCities()
    this.getAllScreens()
  }
}
</script>