<template>
    <div> 
      <h4>Showing field status here {{ status }}</h4>
      <ValidationObserver v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(submitForm)">
          <screen :screen="screen">
          </screen>
          <b-button 
            class="right" 
            type="submit" 
            variant="primary">
            Submit</b-button>
        </b-form>  
      </ValidationObserver> 
    </div>
</template>

<script>
import { screenService } from '@/services/ScreenService'
import store from '@/store'
// import { mapGetters } from 'vuex'

export default {
  name: 'home',
  components:{
    Screen: () => import('@/components/Screen.vue')
  },
  computed : {
    status () {
       return store.getters.getStatus;
    }
  },
  data : function(){
    return {
      screen : {}
    }
  },
  methods : {
      submitForm : function(evt){
        console.log(evt)
        console.log(this.screen)
        console.log(store.getters)
      },
      loadScreen : async function(){
          this.screen = await screenService.getFullDetail('mortgage_calculator');
      }
  },
  created : function() {
      this.loadScreen()
  }
}
</script>