<template>
    <div>
      <ValidationObserver v-slot="{ handleLogin }">
        <b-form @submit.prevent="handleLogin(login)">
          <screen :screen="login_screen">
          </screen>
          <b-button class="right" type="submit" variant="primary">Submit</b-button>
        </b-form>  
      </ValidationObserver> 
    </div>
</template>

<script>
import { screenService } from '@/services/ScreenService'

export default {
  name: 'login',
  components:{
    Screen: () => import('@/components/Screen.vue')
  },
  data : function(){
    return {
      login_screen : {}
    }
  },
  methods : {
      login : function(evt){
        console.log(evt)
        console.log(this.login_screen)
      },
      loadScreen : async function(){
          this.login_screen = await screenService.getFullDetail('login');
      }
  },
  created : function() {
      this.loadScreen()
  }
}
</script>