<template>
   <div>
        <b-form-group v-if="field.type=='currency'" :label="field.label" :label-for="field.name">
            <ValidationProvider :name="field.label" :rules="getFieldRules(field)" v-slot="{ errors }">
              <b-form-input
                :name="field.name"
                v-model="field.value"
                v-bind:value="field.value"
                v-bind:class="{'error-field': errors.length > 0}"
                @change="changeField"
              ></b-form-input>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </b-form-group>
        <b-form-group v-if="field.type=='email'" :label="field.label" :label-for="field.name">
            <ValidationProvider :name="field.label" :rules="getFieldRules(field)" v-slot="{ errors }">
              <b-form-input
                :name="field.name"
                v-model="field.value"
                v-bind:value="field.value"
                v-bind:class="{'error-field': errors.length > 0}"
              ></b-form-input>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </b-form-group>
        <b-form-group v-if="field.type=='password'" :label="field.label" :label-for="field.name">
            <ValidationProvider :name="field.label" :rules="getFieldRules(field)" v-slot="{ errors }">
              <b-form-input
                :name="field.name"
                v-model="field.value"
                v-bind:value="field.value"
                type="password"
                v-bind:class="{'error-field': errors.length > 0}"
              ></b-form-input>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </b-form-group>
        <b-form-group v-if="field.type=='radio'" :label="field.label" :label-for="field.name">
          <ValidationProvider :name="field.label" :rules="getFieldRules(field)" v-slot="{ errors }">
            <b-form-radio-group
              v-model="field.value"
              v-bind:value="field.value"
              :name="field.name"
              v-bind:class="{'error-radio-group': errors.length > 0}">
                <b-form-radio 
                  v-for="option in field.options" 
                  v-bind:key="option.value"
                  :value="option.value">{{ option.label }}</b-form-radio>
            </b-form-radio-group>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </b-form-group>
        <b-form-group v-if="field.type=='date'" :label="field.label" :label-for="field.name">
          <ValidationProvider :name="field.label" :rules="getFieldRules(field)" v-slot="{ errors }">
            <b-form-datepicker 
              v-model="field.value" 
              v-bind:value="field.value"
              v-bind:class="{'error-field': errors.length > 0}"
              class="datepicker"
            ></b-form-datepicker>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </b-form-group>
   </div>
</template>

<script>
import { extend } from 'vee-validate';
import * as rules from 'vee-validate/dist/rules';
import { messages } from 'vee-validate/dist/locale/en.json';

Object.keys(rules).forEach(rule => {
  extend(rule, {
    ...rules[rule], // copies rule configuration
    message: messages[rule] // assign message
  });
});

export default {
  components : {
    
  },
  methods : {
    getFieldRules : function(field){
        let rule = ''
        if(field.required === true){
            rule += 'required';
        }
        switch(field.type){
          case 'currency':
              if(!rule.endsWith('|')) rule += '|';
              rule += 'numeric';
            break;
            case 'email':
              if(!rule.endsWith('|')) rule += '|';
              rule += 'email';
            break;
        }
        return rule;
    },
    changeField : function (){
        this.$store.dispatch('updateStatus', 'good')
    }
  },
  props : ['field']
}
</script>
