<template>
    <div>
        <field 
            v-for="(field, index) in group.fields" 
            v-bind:key="field.name"
            :field="field"
            :index="index">
        </field>
    </div>
</template>

<script>
export default {
    components:{
        Field: () => import('@/components/Field.vue')
    },
    props:['group']
}
</script>
