<template>
    <div>
        <h4 class="title" v-if="screen.label">{{ screen.label }}</h4>
        <h5 class="sub-title" v-if="screen.sub_title">{{ screen.sub_title }}</h5>
        <h6 v-if="screen.description"><small>{{ screen.description }}</small></h6>
        <hr>
        <group 
            v-for="(group, index) in screen.groups" 
            v-bind:key="group.name"
            :group="group"
            :index="index">
        </group>
    </div>
</template>

<script>
export default {
    components:{
        Group: () => import('@/components/Group.vue')
    },
    props:['screen']
}
</script>
