@import 'variables';

body {
    font-family: "Open Sans",Arial,sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

.navbar{
    min-height: 70px !important;
    padding: 8px !important;
    border-bottom: 1px solid #efecf2;

    .navbar-brand {
        padding: 0 25px;
        border-right: 1px solid grey; 
        font-weight: 700;
        color: var(--brand-color-secondary) !important;
    }
}

#router-view {
    padding: 20px 0px;
    margin-top: 85px !important;
    max-width: 600px;
}

h5, h6{
    padding: 10px 0;
}

small{
    color: #7c7c7d;
}

.right{
    float: right;
}

a {
    text-decoration: none;
    color: grey;
}

.title{
   color : var(--brand-color-primary);
}

.sub-title{
    color: var(--brand-color-text2);
}

.form-group{
    color: var(--brand-color-text);

    .form-control{
        border-color: var(--field-border-color);
        svg{
            color: var(--brand-color-secondary);
        }
    }
}

.custom-radio{
    label:after{
        border: 1px solid var(--field-border-color) !important;
        border-radius: 1em;
    }
}

.btn{
    color: white;
    border: 1px solid var(--border-color);
    background: var(--button-color);
    font-size: 14px !important;
    font-weight: 700;
    &.btn-primary{
        background: var(--button-color);
    }
}

.datepicker{
    .btn{
        background: white;
    }
}

.container{
    background: var(--screen-background-color);
    padding: 25px 25px 50px 35px !important;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

/**Validation classes**/
.error-field{
    border: 1px solid var(--error-color) !important;
    box-shadow: 0 0 0 0.2rem #ffe1e1 !important;
    +span {
        color: var(--error-color) !important;
        font-size: smaller;
    }
    button{
        svg{
            color: var(--error-color) !important;
        }
    }
}

.error-radio-group{
    +span {
        color: var(--error-color) !important;
        font-size: smaller;
    }
    label{
        color: var(--error-color) !important;
    }
    label:after{
        border: 2px solid #dd0000 !important;
        border-radius: 1em;
    }
}