//
// Variables - Brand colors for theme cyan
// --------------------------------------------------

:root {
    --brand-color-primary:					#3b3f3d; // Blue
    --brand-color-secondary:				#405a4d; // Dark Blue
    --field-border-color:   				#d4cfe1; 
    --button-color :                        #7c817e; // Button blue
    --screen-background-color :             #ffffff;
    --brand-color-text :					#565656; // Dark gray
    --brand-color-text2 :					#434343; // Darker gray
    --error-color :                         #dd0000; // Red
    --border-color :                        #f0f0f0;
}


[theme="cyan"]{
    --brand-color-primary:					#00AADC; // Blue
    --brand-color-secondary:				#0182a8; // Dark Blue
    --field-border-color:   				#0182a8; // Dark Blue
    --button-color :                        #0098c3; // Button blue
    --screen-background-color :             #f5fdff;
}


[theme="brown"]{
    --brand-color-primary:					#f28805; // Brown
    --brand-color-secondary:				#955403; // Dark brown
    --field-border-color:				    #eed0aa; // light brown
    --button-color :                        #ba7d30; // Button brown
    --screen-background-color :             #fffbf5;
}


[theme="purple"]{
    --brand-color-primary:					#674186; // Green
    --brand-color-secondary:				#54366E; // Dark green
    --field-border-color:   				#d4cfe1; // Dark green
    --button-color :                        #bd479a; // Button green
    --screen-background-color :             #f9f7fa;
}