<template>
  <div id="app">
      <NavBar/>
      <b-container id='router-view'>
          <router-view/>
      </b-container>
  </div>
</template>

<script>
import { crudService } from '@/services/CrudService'

import NavBar from './components/NavBar.vue'

export default {
  name: 'App',
  components: {
    NavBar
  },
  data : function(){
    return {
        theme : ''
    }
  },
  methods : {
    loadTheme : async function(){
        let user = await crudService.getById('/user/5eb2fcfd4f4c081b5fe3bac0')
        this.theme = user.theme
    }
  },
  watch: {
    theme: function () {
        if(this.theme == ''){
            alert('Theme not populated!');
            return;
        }
        let htmlElement = document.documentElement;
        htmlElement.setAttribute('theme', this.theme);
    }
  },
  created : function(){
    this.loadTheme();
  }
}
</script>

